* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}

h1 {
	margin: 2.5rem 0;
	font-size: 3rem;
	text-align: center;
}

img {
	width: 100%;
}

fieldset,
.api-form__input-wrapper {
	margin: 1rem;
}

.api-form__input-wrapper {
	display: flex;
	flex-direction: column;
}

legend {
	margin-bottom: 0.25rem;
}

input,
select,
fieldset {
	padding: 0.5rem;
}

.api {
	margin: 1rem;
}

.api__stats {
	display: flex;
	justify-content: space-between;
}
