form {
	max-width: 600px;
	margin: auto;

	label,
	legend {
		margin-bottom: 0.5rem;
	}

	input,
	select,
	fieldset {
		padding: 0.5rem;
	}

	fieldset,
	.api-form__input-wrapper {
		margin: 1rem;
	}

	.api-form__input-wrapper {
		display: flex;
		flex-direction: column;
	}

	fieldset {
		display: flex;
		flex-wrap: wrap;
		.api-form__radio-wrapper {
			margin: 0.25rem 0.75rem;
		}
	}

	.api-form__buttons {
		p {
			margin: 0.5rem 0;
		}

		.api-form__button-wrapper {
			display: flex;
			justify-content: space-evenly;
			margin: 2rem 0;
		}
	}
}
