body {
	font-family: $primary-font-stack;
	font-size: 1.6rem;
}

header {
	h1 {
		font-size: 3rem;
		text-align: center;
	}
}

form {
	h2 {
		text-align: center;
	}

	p {
		text-align: center;
		a {
			text-decoration: underline;
			color: inherit;
		}
	}

	input,
	select,
	fieldset,
	button {
		font-size: inherit;
		font-family: inherit;
	}
}

.api-output-container {
	.error {
		text-align: center;
		color: red;
	}

	.api {
		h3 {
			font-size: 2.2rem;
		}
		h4 {
			font-size: 1.8rem;
			font-weight: 500;
		}
		h5 {
			font-size: 1.5rem;
			font-weight: 400;
		}
		.api__stats {
			font-size: 1.4rem;
			font-weight: 300;
		}
	}
}
